#one{
    background-color:pink; border:20px; color:blue;
}
#two{
    background-color:red; border:20px; color:purple;
}
#three{
    background-color:yellow; border:20px; color:green;
}
body{
    background-color:hotpink;
}

    